/* body */

body {
    padding: 0;
    margin: 0;
    background-color: black;
}


/* navbar */

.navbar-inner {
    background-color: transparent;
}
.navbar {
    background-color: transparent !important;
}

nav {
    background-color: #5bc0de; 
}

.navbar-brand {
    font-size: 20px;
    font-family: "open sans";
}

/* quienes somos */

#titulo hr{
    width: 1300px;
    height: 1px;
    text-align: center;
}

#titulo h3{
    font-family: "open sans";
    color: #ffff;
}

#quienes-somos p{
    font-family: "open sans";
    color: #ffff;
}

.py-1{
    background-color: #5bc0de;
    padding-bottom: .5rem!important;
    color: #fff;
    text-align: center;
}